

/* Login */
.login-container {
   margin-top: 50px;
   margin-bottom: 50px;
   height: 80vh;
   width: 80vw;
   display: flex;
   background-color: white;
   border-radius: 20px;
   box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.login-con-main{
   /* margin-top: 110px; */
   display: flex;
   align-items: center;
   justify-content: center;

}
.login-image {
   flex: 0.3;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-right: 10px;
}
.login-input-container {
   flex: 0.7;
   /* padding: 20px; */
   border-radius: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 10px;
   color: #fff;
   margin: 20px;
}
.login-input-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   border-radius: 20px;

}
.register-btn{
   cursor: pointer;
   color: green;
   border-bottom: 2px solid green;
}

@media screen and (max-width : 700px) {
   .login-container{
      flex-direction: column;   
      /* overflow: scroll;    */
      margin-top: 10px;
   }
   .login-image{
      flex-direction: column;
   }
   .login-input-item{
      padding: 15px;
   }
}

