.mental-score-component{
    /* margin-top: 130px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    
}