.account-component{
    align-items: center;
    margin: 50px;
}
.icon-avtar {
    padding: 25px 30px;
    background-color: rgb(122, 97, 143);
    border-radius: 100%;
    color: rgb(241, 245, 245);
}
.account-detail{
    /* display: flex; */
    gap: 30px;
}
.account{
    background-color: rgb(138, 117, 156);
    padding: 30px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}

