.footer-component {
    background-color: #4F709C;
    padding: 50px;
    padding-top: 100px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    justify-content: space-around;

}

/* Phone Viewport */
@media screen and (max-width: 1000px) {
    .footer-component {
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 40px;
    }
  }
.footer-logo{

}

.footer-page{

}

.footer-privacy{

}


.horizontal{
    color: #4F709C;
    background-color: #4F709C;
    
}