.footer-component {
    background-color: rgb(138, 117, 156);
    color: #B9B4C7;
    padding: 50px;
    padding-top: 100px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    justify-content: space-between;
    gap: 50px;

}

/* Phone Viewport */
@media screen and (max-width: 1000px) {
    .footer-component {
        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 40px;
    }
  }
.footer-logo{
    flex: 0.4;
}

.footer-page{
    flex: 0.3;
}

.footer-privacy{
    flex: 0.3;
}


.horizontal{
    color: #4F709C;
    background-color: #4F709C;
    
}